/* lines 2-159 are for the hamburger menu and navigation*/
h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #2c2b2b;
  font-family: "Creepster", cursive;
}

* {
  box-sizing: border-box;
  color: #f5f5f5;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00baf0;
  background: rgb(0, 0, 0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(255, 255, 255);
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  font-size: 18px;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #ffffff;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid rgb(243, 243, 245);
  }
}
/*these control the links and image in the menu*/
.a-nav {
  color: rgba(255, 255, 255, 0.715);
  font-size: 22px;
  padding: 40px;
  text-decoration: none;
}
.logombmenu {
  height: 100%;
  width: 100%;
}

/*this sets the font for hovering in the menu*/
a:hover {
  color: rgb(255, 0, 0);
}

/*end navigation*/

/*for the main blog style background on Listen and Support*/
.paper {
  background-color: #ffffff;
  max-width: auto;
  height: auto;
  border: solid 15px #000000;
  display: block;
  padding: 30px;
  padding-top: 0%;
  margin: 60px 20px 60px 20px;
}

.paper p {
  color: #000000;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}

.paper a {
  color: #ff0000;
}
/*end paper*/

/*font stylings*/
a {
  color: beige;
  text-decoration: none;
}

.a-contact {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
}

/*Home, Listen, Support*/
.social-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  max-width: 100%;
  border-radius: 30px;
  gap: 60px;
  padding: 30px;
  margin-bottom: 20px;
}

.icon-container i {
  color: #000000;
}

.icon-container i:hover {
  color: #ff0000;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 40px;
  border-radius: 50px;
}

.footer {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  margin: 20px auto;
  background-color: #2c2b2b;
  padding: 20px;
}

.update {
  font-family: monospace;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  margin: 20px auto;
  color: #ff0000;
}

/*end Home, Listen, Support*/

/*Contact*/

.contact-form {
  text-align: center;
}

.contact-form a {
  color: #ff0000;
}

.form-inputs {
  display: inline-block;
  text-align: right;
}

.contact-form {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.contact-form input {
  color: #000000;
}

textarea {
  color: #000000;
  font-weight: bold;
}

.submit-btn {
  cursor: pointer;
}
/*end Contact*/

/*this will adjust the containers for media*/
/*to adjust the portfolio and social containters, used portfolio-container only*/

@media (max-width: 768px) {
  .contact-form {
    text-align: center;
    padding: 15px;
  }
}

@media screen and (max-width: 768px) {
  .social-section .icon-container i {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  #home,
  img {
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 30px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
}
